/* Base Styles */

body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.4;
	font-family: 'Open Sans', sans-serif;
}

/* Helper Classes */

img{
    max-width: 100%;
    height: auto;
}

.center{
    text-align: center;
}

a{
    color: inherit;
    text-decoration: none;
}

/* My Grid System */

.container{
    margin: 0 auto;
    max-width: 60em;
    padding: 20px 15px;
}

.col{
    float: left;
    margin-left: 1.5%;
}

.col-1-3{
    width: 31%;
}

.col-2-3{
    width: 66%;
}

/* Header Styles */

header{
    width: 100%;
    min-height: 20em;
    overflow: hidden;
    background: url(../img/detroit_night_skyline.jpg) 20% center no-repeat;
    background-size: cover;
}

.overlay {
    max-width: 50em;
    text-align: center;
    margin: 60px auto;
    padding: 0 .75em;
    color: #fff;
}

.heading{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

.main-heading{
    font-size: 3em;
}

.sub-heading{
    font-size: 1.5em;
}

/* Profile Styles */

.section {
    width: 100%;
    padding: 3em 0;
    background: #8a2b27;
    overflow: hidden;
}

.alt-sec{
    background: #222;
}

.profile-pic{
    width: 180px;
    border-radius: 50%;
}

.bio{
    color: #fff;
    text-align: left;
}

.button{
    padding: 10px 25px;
    color: #fff;
    border: 2px solid #222;
    border-radius: 50px;
    display: inline-block;
    font-size: .9em;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.button:hover{
    background: #222;
}

/* Quote Section */

.quotes-container{
    color: #fff;
}

.quotes-container img{
    float: left;
    margin-right: 5px
}

.name{
    font-size: 1.1em
}
